.container{
  background-color:#000d1a;
}
.jumbotron{
  margin: auto;
  margin-top: 100px;
  border: 1px solid white;
  width: 40%;
  height: 500px;
  font-family: sans-serif;
}
img{
  width: 25%;
  height: 25%;
  margin-left: 110px;
  padding-left: 10px;
  padding-top: 10px;
}
.container p{
  text-align: center;
}
small{
  padding-left: 70px;
}
.jumbotron button{
 padding-left: 100px;
 padding-right: 100px;
 margin-left: 100px;
 margin-left:50px;
 background-color:#9fef00;
 color:black;
}
